body {
    background-color: lavenderblush;
    color:#383838;
  }
  
  a:hover{
    opacity: 75%;
    color: rgb(245, 101, 214);
  }
  
  a:active{
    opacity: 25%;
    color: rgb(245, 101, 214);
  }
  
  .purple-text{
  color: rgb(245, 101, 214);
  }
  
  button{
    background-color: rgb(245, 101, 214)!important;
    margin: 3px;
    border: 1px rgb(245, 101, 214)!important;
    border-radius: 5px;
  }
  
  button:hover{
    opacity: 75%;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  .hide {
    display: none!important;
  }
  
  .high-score-even {
    padding: 3px;
  
  }
  
  .high-score-odd{
    padding: 3px;
  
  }


