:root {
    --primary-color: rgb(13, 161, 33);
    --secondary-color: rgb(45,45,45);
    --tertiary-color: rgb(207, 146, 14);
}

body{
    background: #007bff;
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}


